<footer id="main-footer" role="contentinfo">

    <div class="footer-columns">
        <div class="column">
            <h4>Об авторе</h4>
            <p>Информация о создателе сайта.</p>
        </div>
        <div class="column">
            <h4>О студии HBO</h4>
            <p>Информация о компании HBO.</p>
        </div>
        <div class="column">
            <h4>Контакты</h4>
            <p>Email: example&#64;example.com</p>
            <p>Телефон: +7 (123) 456-78-90</p>
        </div>
        <div class="column">
            <h4>Социальные сети</h4>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">Twitter</a></p>
            <p><a href="#">Instagram</a></p>
        </div>
        <div class="column">
            <h4>Полезные ссылки</h4>
            <p><a href="#">Политика конфиденциальности</a></p>
            <p><a href="#">Условия использования</a></p>
        </div>
    </div>

    <!-- Второй блок: горизонтальная черта и дата создания сайта -->
    <div class="footer-bottom">
        <hr> <!-- Горизонтальная черта -->
        <p>© 2025 Сайт создан 27 апреля 2025 года</p>
    </div>
</footer>
