<main class="Main_Container">

    <div class="Main_Sub_Container">
        <div class="Main_text">
            <h1>Игра Престолов</h1>
            <p>В мире, где ложь опаснее меча, Великие Дома Вестероса ведут кровавую игру за Железный Трон. Короли восстают и падают, предательства меняют ход истории, а за Стеной пробуждается древнее зло. Войны, заговоры и магия переплетаются в борьбе за власть, где каждый шаг может стать последним. Когда лед встречает пламя, судьба Семи Королевств решится… Игра престолов началась – и в ней побеждает лишь один.</p>
        </div>
    </div>

    <div class="Main_Buttons_Container">
        <button class="Watch_Button"  routerLink="/watch-episode" routerLinkActive="active">
            <span class="Triangle"></span>
            <span class="Text">Смотреть</span>
        </button>
    </div>

</main>
