<section class="Container_Season">
    <div class="Head_of_Container_Season">
        <h3 class="Season_Lable">Сезоны</h3>
    </div>
    <div class="Posts_Container">
        <div class="Seasons_Container">
            <div class="Season_group">

                <div class="card" (click)="openSeason(1)">
                    <img src="assets/img/season1.png" alt="Season 1">
                    <h4>Сезон 1</h4>
                </div>
                
                <div class="card" (click)="openSeason(2)">
                    <img src="assets/img/season2.png" alt="Season 2">
                    <h4>Сезон 2</h4>
                </div>
                

                <div class="card" (click)="openSeason(3)">
                    <img src="assets/img/season3.png" alt="Season 3">
                    <h4>Сезон 3</h4>
                </div>
                <div class="card" (click)="openSeason(4)">
                    <img src="assets/img/season4.png" alt="Season 4">
                    <h4>Сезон 4</h4>
                </div>
                <div class="card" (click)="openSeason(5)">
                    <img src="assets/img/season5.png" alt="Season 5">
                    <h4>Сезон 5</h4>
                </div>
            </div>
            <div class="Season_group" (click)="openSeason(6)">
                <div class="card">
                    <img src="assets/img/season6.png" alt="Season 6">
                    <h4>Сезон 6</h4>
                </div>
                <div class="card" (click)="openSeason(7)">
                    <img src="assets/img/season7.png" alt="Season 7">
                    <h4>Сезон 7</h4>
                </div>
                <div class="card" (click)="openSeason(8)">
                    <img src="assets/img/season8.png" alt="Season 8">
                    <h4>Сезон 8</h4>
                </div>
            </div>
        </div>
    </div>
</section>